[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[packages]

"psycopg2-binary" = "*"
django-heroku = "*"
gunicorn = "*"
django-crispy-forms = "*"
django = "*"
django-allauth = "*"
celery = "*"
django-celery-beat = "*"
djangorestframework = "*"
django-cors-headers = "*"


pytz = "2020.5"
python-slugify="4.0.1"
Pillow="8.1.0"
rcssmin="1.0.6"
argon2-cffi="20.1.0"
whitenoise="5.2.0"
redis="3.5.3"
hiredis="1.1.0"
celery="4.4.6"
django-celery-beat="2.2.0"
flower="0.9.7"

django="3.0.11"
django-environ="0.4.5"
django-model-utils="4.1.1"
django-allauth="0.44.0"
django-crispy-forms="1.10.0"
django-compressor="2.4"
django-redis="4.12.1"
djangorestframework="3.12.2"
django-cors-headers="3.7.0"

Werkzeug="1.0.1"
ipdb="0.13.4"
psycopg2="2.8.6"
watchgod="0.6"
mypy="0.800"
django-stubs="1.7.0"
pytest="6.2.2"
pytest-sugar="0.9.4"

sphinx="3.4.3"
sphinx-autobuild="2020.9.1"

flake8="3.8.4"
flake8-isort="4.0.0"
coverage="5.4"
black="20.8b1"
pylint-django="2.4.2"
pylint-celery="0.3"
pre-commit="2.9.3"
factory-boy="3.2.0"

django-debug-toolbar="3.2"
django-extensions="3.1.0"
django-coverage-plugin="1.8.0"
pytest-django="4.1.0"


[dev-packages]

