* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v1_2 {
  width: 100%;
  height: 1117px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_67 {
  width: 224px;
  height: 195px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 373px;
  left: 243px;
  border: 1px solid rgba(173,173,173,0.20000000298023224);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v6_68 {
  width: 224px;
  height: 195px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 373px;
  left: 609px;
  border: 1px solid rgba(173,173,173,0.20000000298023224);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v198_77 {
  width: 224px;
  height: 195px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 373px;
  left: 964px;
  border: 1px solid rgba(173,173,173,0.20000000298023224);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v5_0 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 149px;
  left: 0px;
  font-family: Raleway;
  font-weight: ExtraBold;
  font-size: 44px;
  opacity: 1;
  text-align: center;
}
.v5_1 {
  width: 980px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 214px;
  left: 268px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v6_8 {
  width: 117px;
  height: 38px;
  background: url("../images/v6_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 503px;
  left: 296px;
  overflow: hidden;
}
.v6_0 {
  width: 107px;
  height: 12px;
  background: rgba(254,198,1,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 0px;
  overflow: hidden;
}
.v6_1 {
  width: 117px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Raleway;
  font-weight: ExtraBold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v6_7 {
  width: 125px;
  height: 38px;
  background: url("../images/v6_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 513px;
  left: 657px;
  overflow: hidden;
}
.v6_2 {
  width: 122px;
  height: 12px;
  background: rgba(254,198,1,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 0px;
  overflow: hidden;
}
.v6_3 {
  width: 125px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Raleway;
  font-weight: ExtraBold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v6_6 {
  width: 93px;
  height: 38px;
  background: url("../images/v6_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 513px;
  left: 1033px;
  overflow: hidden;
}
.v6_4 {
  width: 93px;
  height: 12px;
  background: rgba(254,198,1,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 0px;
  overflow: hidden;
}
.v6_5 {
  width: 90px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Raleway;
  font-weight: ExtraBold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v6_18 {
  width: 117px;
  height: 99px;
  background: url("../images/v6_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 394px;
  left: 296px;
  overflow: hidden;
}
.v6_10 {
  width: 86px;
  height: 86px;
  background: rgba(185,226,246,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v6_9 {
  width: 83px;
  height: 83px;
  background: url("../images/v6_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 34px;
  overflow: hidden;
}
.v6_19 {
  width: 86px;
  height: 86px;
  background: rgba(185,226,246,1);
  opacity: 1;
  position: absolute;
  top: 394px;
  left: 644px;
  border-radius: 50%;
}
.v6_70 {
  width: 124px;
  height: 106px;
  background: url("../images/v6_70.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 392px;
  left: 1017px;
  overflow: hidden;
}
.v6_20 {
  width: 86px;
  height: 86px;
  background: rgba(185,226,246,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v6_32 {
  width: 99px;
  height: 99px;
  background: url("../images/v6_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 399px;
  left: 675px;
  overflow: hidden;
}
.v6_36 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 584px;
  left: 243px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v6_37 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 584px;
  left: 612px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v6_38 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 584px;
  left: 973px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v6_39 {
  width: 100%;
  height: 310px;
  background: url("../images/v6_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 900px;
  left: 0px;
  overflow: hidden;
}
.v6_40 {
  width: 100%;
  height: 217px;
  background: rgba(18,43,84,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_41 {
  width: 100%;
  height: 217px;
  background: rgba(18,43,84,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_42 {
  width: 218px;
  height: 139px;
  background: url("../images/v6_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 122px;
  overflow: hidden;
}
.v6_43 {
  width: 217px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 37px;
  left: 1px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_44 {
  width: 217px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 1px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_45 {
  width: 217px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 60px;
  left: 1px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_46 {
  width: 102px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 87px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_47 {
  width: 101px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 113px;
  left: 1px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_48 {
  width: 118px;
  height: 86px;
  background: url("../images/v6_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 521px;
  overflow: hidden;
}
.v6_49 {
  width: 101px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_50 {
  width: 118px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 36px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_51 {
  width: 118px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 60px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_52 {
  width: 203px;
  height: 265px;
  background: url("../images/v6_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 820px;
  overflow: hidden;
}
.v6_53 {
  width: 126px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 3px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_54 {
  width: 165px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 44px;
  left: 38px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_55 {
  width: 31px;
  height: 23px;
  background: url("../images/v6_55.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 241px;
  left: 0px;
  overflow: hidden;
}
.v6_56 {
  width: 31px;
  height: 23px;
  background: url("../images/v6_56.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_57 {
  width: 31px;
  height: 23px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v6_58 {
  width: 31px;
  height: 17px;
  background: url("../images/v6_58.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_59 {
  width: 31px;
  height: 17px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v6_60 {
  width: 11px;
  height: 12px;
  background: url("../images/v6_60.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
  overflow: hidden;
}
.v6_61 {
  width: 1px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 10px;
}
.v6_62 {
  width: 11px;
  height: 12px;
  background: url("../images/v6_62.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 20px;
  overflow: hidden;
}
.v6_63 {
  width: 14px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
}
.v6_64 {
  width: 140px;
  height: 77px;
  background: url("../images/v6_64.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 1204px;
  overflow: hidden;
}
.v6_65 {
  width: 140px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_66 {
  width: 40px;
  height: 40px;
  background: url("../images/v6_66.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 0px;
  overflow: hidden;
}
.v2_49 {
  width: 100%;
  height: 80px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2_44 {
  width: 553px;
  height: 62px;
  background: url("../images/v2_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 123px;
  overflow: hidden;
}
.v2_45 {
  width: 553px;
  height: 62px;
  background: url("../images/v2_45.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_46 {
  width: 78px;
  height: 62px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_47 {
  width: 78px;
  height: 62px;
  background: url("../images/v2_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_48 {
  width: 471px;
  color: rgba(36,83,178,1);
  position: absolute;
  top: 16px;
  left: 82px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.img1{
  width: 99px;
  height: 99px;
  background: url("../images/v6_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 395px;
  left: 340px;
  overflow: hidden;
  z-index: 2;
}
.img2{
  width: 99px;
  height: 99px;
  background: url("../images/v6_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 395px;
  left: 670px;
  overflow: hidden;
  z-index: 2;
}
.img3{
  width: 99px;
  height: 99px;
  background: url("../images/v6_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 395px;
  left: 1050px;
  overflow: hidden;
  z-index: 2;
}