* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v1_2 {
  width: 100%;
  height: 1117px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_67 {
  width: 224px;
  height: 195px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 373px;
  left: 243px;
  border: 1px solid rgba(173,173,173,0.20000000298023224);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v6_68 {
  width: 224px;
  height: 195px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 373px;
  left: 609px;
  border: 1px solid rgba(173,173,173,0.20000000298023224);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v198_77 {
  width: 224px;
  height: 195px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 373px;
  left: 964px;
  border: 1px solid rgba(173,173,173,0.20000000298023224);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v5_0 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 149px;
  left: 0px;
  font-family: Raleway;
  font-weight: ExtraBold;
  font-size: 44px;
  opacity: 1;
  text-align: center;
}
.v5_1 {
  width: 980px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 214px;
  left: 268px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v6_8 {
  width: 117px;
  height: 38px;
  background: url("../images/v6_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 503px;
  left: 296px;
  overflow: hidden;
}
.v6_0 {
  width: 107px;
  height: 12px;
  background: rgba(254,198,1,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 0px;
  overflow: hidden;
}
.v6_1 {
  width: 117px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Raleway;
  font-weight: ExtraBold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v6_7 {
  width: 125px;
  height: 38px;
  background: url("../images/v6_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 513px;
  left: 657px;
  overflow: hidden;
}
.v6_2 {
  width: 122px;
  height: 12px;
  background: rgba(254,198,1,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 0px;
  overflow: hidden;
}
.v6_3 {
  width: 125px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Raleway;
  font-weight: ExtraBold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v6_6 {
  width: 93px;
  height: 38px;
  background: url("../images/v6_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 513px;
  left: 1033px;
  overflow: hidden;
}
.v6_4 {
  width: 93px;
  height: 12px;
  background: rgba(254,198,1,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 0px;
  overflow: hidden;
}
.v6_5 {
  width: 90px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Raleway;
  font-weight: ExtraBold;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v6_18 {
  width: 117px;
  height: 99px;
  background: url("../images/v6_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 394px;
  left: 296px;
  overflow: hidden;
}
.v6_10 {
  width: 86px;
  height: 86px;
  background: rgba(185,226,246,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v6_9 {
  width: 83px;
  height: 83px;
  background: url("../images/v6_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 34px;
  overflow: hidden;
}
.v6_19 {
  width: 86px;
  height: 86px;
  background: rgba(185,226,246,1);
  opacity: 1;
  position: absolute;
  top: 394px;
  left: 644px;
  border-radius: 50%;
}
.v6_70 {
  width: 124px;
  height: 106px;
  background: url("../images/v6_70.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 392px;
  left: 1017px;
  overflow: hidden;
}
.v6_20 {
  width: 86px;
  height: 86px;
  background: rgba(185,226,246,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v6_32 {
  width: 99px;
  height: 99px;
  background: url("../images/v6_32.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 399px;
  left: 675px;
  overflow: hidden;
}
.v6_36 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 584px;
  left: 243px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v6_37 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 584px;
  left: 612px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v6_38 {
  width: 232px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 584px;
  left: 973px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v6_39 {
  width: 100%;
  height: 310px;
  background: url("../images/v6_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 900px;
  left: 0px;
  overflow: hidden;
}
.v6_40 {
  width: 100%;
  height: 217px;
  background: rgba(18,43,84,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_41 {
  width: 100%;
  height: 217px;
  background: rgba(18,43,84,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_42 {
  width: 218px;
  height: 139px;
  background: url("../images/v6_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 122px;
  overflow: hidden;
}
.v6_43 {
  width: 217px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 37px;
  left: 1px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_44 {
  width: 217px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 1px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_45 {
  width: 217px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 60px;
  left: 1px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_46 {
  width: 102px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 87px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_47 {
  width: 101px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 113px;
  left: 1px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_48 {
  width: 118px;
  height: 86px;
  background: url("../images/v6_48.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 521px;
  overflow: hidden;
}
.v6_49 {
  width: 101px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_50 {
  width: 118px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 36px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_51 {
  width: 118px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 60px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_52 {
  width: 203px;
  height: 265px;
  background: url("../images/v6_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 820px;
  overflow: hidden;
}
.v6_53 {
  width: 126px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 3px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_54 {
  width: 165px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 44px;
  left: 38px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_55 {
  width: 31px;
  height: 23px;
  background: url("../images/v6_55.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 241px;
  left: 0px;
  overflow: hidden;
}
.v6_56 {
  width: 31px;
  height: 23px;
  background: url("../images/v6_56.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_57 {
  width: 31px;
  height: 23px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v6_58 {
  width: 31px;
  height: 17px;
  background: url("../images/v6_58.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_59 {
  width: 31px;
  height: 17px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v6_60 {
  width: 11px;
  height: 12px;
  background: url("../images/v6_60.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 0px;
  overflow: hidden;
}
.v6_61 {
  width: 1px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 10px;
}
.v6_62 {
  width: 11px;
  height: 12px;
  background: url("../images/v6_62.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 20px;
  overflow: hidden;
}
.v6_63 {
  width: 14px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
}
.v6_64 {
  width: 140px;
  height: 77px;
  background: url("../images/v6_64.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 1204px;
  overflow: hidden;
}
.v6_65 {
  width: 140px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_66 {
  width: 40px;
  height: 40px;
  background: url("../images/v6_66.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 0px;
  overflow: hidden;
}
.v2_49 {
  width: 100%;
  height: 80px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2_44 {
  width: 553px;
  height: 62px;
  background: url("../images/v2_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 123px;
  overflow: hidden;
}
.v2_45 {
  width: 553px;
  height: 62px;
  background: url("../images/v2_45.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_46 {
  width: 78px;
  height: 62px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_47 {
  width: 78px;
  height: 62px;
  background: url("../images/v2_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v2_48 {
  width: 471px;
  color: rgba(36,83,178,1);
  position: absolute;
  top: 16px;
  left: 82px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.img1{
  width: 99px;
  height: 99px;
  background: url("../images/v6_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 395px;
  left: 340px;
  overflow: hidden;
  z-index: 2;
}
.img2{
  width: 99px;
  height: 99px;
  background: url("../images/v6_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 395px;
  left: 670px;
  overflow: hidden;
  z-index: 2;
}
.img3{
  width: 99px;
  height: 99px;
  background: url("../images/v6_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 395px;
  left: 1050px;
  overflow: hidden;
  z-index: 2;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v6_71 {
  width: 100%;
  height: 1248px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_7 {
  width: 710px;
  height: 72px;
  background: url("../images/v9_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 790px;
  left: 365px;
  overflow: hidden;
}
.v9_8 {
  width: 710px;
  height: 72px;
  background: url("../images/v9_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_9 {
  width: 710px;
  height: 72px;
  background: rgba(32,150,107,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(32,150,107,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v6_74 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 149px;
  left: 0px;
  font-family: Raleway;
  font-weight: ExtraBold;
  font-size: 44px;
  opacity: 1;
  text-align: center;
}
.v6_75 {
  width: 980px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 214px;
  left: 268px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v8_7 {
  width: 823px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 388px;
  left: 374px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v6_105 {
  width: 100%;
  height: 458px;
  background: url("../images/v6_105.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1031px;
  left: 0px;
  overflow: hidden;
}
.v6_106 {
  width: 100%;
  height: 217px;
  background: rgba(18,43,84,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_107 {
  width: 100%;
  height: 217px;
  background: rgba(18,43,84,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_108 {
  width: 218px;
  height: 139px;
  background: url("../images/v6_108.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 122px;
  overflow: hidden;
}
.v6_109 {
  width: 217px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 37px;
  left: 1px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_110 {
  width: 217px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 1px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_111 {
  width: 217px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 60px;
  left: 1px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_112 {
  width: 102px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 87px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_113 {
  width: 101px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 113px;
  left: 1px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_114 {
  width: 118px;
  height: 86px;
  background: url("../images/v6_114.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 521px;
  overflow: hidden;
}
.v6_115 {
  width: 101px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_116 {
  width: 118px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 36px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_117 {
  width: 118px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 60px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_118 {
  width: 203px;
  height: 413px;
  background: url("../images/v6_118.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 820px;
  overflow: hidden;
}
.v6_119 {
  width: 126px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 3px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_120 {
  width: 165px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 44px;
  left: 38px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v6_121 {
  width: 31px;
  height: 26px;
  background: url("../images/v6_121.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 386px;
  left: 0px;
  overflow: hidden;
}
.v6_122 {
  width: 31px;
  height: 26px;
  background: url("../images/v6_122.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_123 {
  width: 31px;
  height: 26px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v6_124 {
  width: 31px;
  height: 19px;
  background: url("../images/v6_124.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_125 {
  width: 31px;
  height: 19px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v6_126 {
  width: 11px;
  height: 13px;
  background: url("../images/v6_126.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 0px;
  overflow: hidden;
}
.v6_127 {
  width: 1px;
  height: 15px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 10px;
}
.v6_128 {
  width: 11px;
  height: 13px;
  background: url("../images/v6_128.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 20px;
  overflow: hidden;
}
.v6_129 {
  width: 15px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
}
.v6_130 {
  width: 140px;
  height: 77px;
  background: url("../images/v6_130.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 1204px;
  overflow: hidden;
}
.v6_131 {
  width: 140px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v6_132 {
  width: 40px;
  height: 40px;
  background: url("../images/v6_132.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 0px;
  overflow: hidden;
}
.v8_3 {
  width: 101px;
  height: 86px;
  background: url("../images/v8_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 320px;
  left: 243px;
  overflow: hidden;
}
.v8_4 {
  width: 75px;
  height: 75px;
  background: rgba(185,226,246,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v8_5 {
  width: 73px;
  height: 73px;
  background: url("../images/v8_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 28px;
  overflow: hidden;
}
.v8_6 {
  width: 581px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 337px;
  left: 365px;
  font-family: Raleway;
  font-weight: ExtraBold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v8_11 {
  width: 772px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 486px;
  left: 374px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v9_2 {
  width: 345px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 612px;
  left: 365px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v9_3 {
  width: 342px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 613px;
  left: 740px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v8_12 {
  width: 111px;
  height: 12px;
  background: rgba(254,198,1,1);
  opacity: 1;
  position: absolute;
  top: 495px;
  left: 243px;
  overflow: hidden;
}
.v8_13 {
  width: 113px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 469px;
  left: 243px;
  font-family: Raleway;
  font-weight: ExtraBold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v8_14 {
  width: 698px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 736px;
  left: 374px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v9_15 {
  width: 698px;
  color: rgba(173,173,173,1);
  position: absolute;
  top: 874px;
  left: 365px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v9_6 {
  width: 162px;
  height: 53px;
  background: url("../images/v9_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 537px;
  left: 397px;
  overflow: hidden;
}
.v9_4 {
  width: 162px;
  height: 53px;
  background: url("../images/v9_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_9 {
  width: 162px;
  height: 53px;
  background: url("../images/v8_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(36,83,178,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v8_17 {
  width: 162px;
  color: rgba(36,83,178,1);
  position: absolute;
  top: 14px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Semibold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v9_5 {
  width: 162px;
  height: 53px;
  background: url("../images/v9_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 538px;
  left: 805px;
  overflow: hidden;
}
.v9_0 {
  width: 162px;
  height: 53px;
  background: url("../images/v9_0.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(36,83,178,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v9_1 {
  width: 162px;
  color: rgba(36,83,178,1);
  position: absolute;
  top: 14px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Semibold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v9_11 {
  width: 673px;
  height: 53px;
  background: url("../images/v9_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 799px;
  left: 390px;
  overflow: hidden;
}
.v9_12 {
  width: 96px;
  height: 53px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 577px;
  border: 1px solid rgba(36,83,178,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v9_14 {
  width: 553px;
  height: 53px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(32,150,107,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v9_13 {
  width: 96px;
  color: rgba(36,83,178,1);
  position: absolute;
  top: 14px;
  left: 577px;
  font-family: Open Sans;
  font-weight: Semibold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v8_15 {
  width: 111px;
  height: 12px;
  background: rgba(254,198,1,1);
  opacity: 1;
  position: absolute;
  top: 745px;
  left: 243px;
  overflow: hidden;
}
.v8_16 {
  width: 113px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 719px;
  left: 243px;
  font-family: Raleway;
  font-weight: ExtraBold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v17_179 {
  width: 242px;
  height: 50px;
  background: url("../images/v17_179.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 935px;
  left: 243px;
  overflow: hidden;
}
.v17_180 {
  width: 181px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 61px;
  font-family: Open Sans;
  font-weight: Semibold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v17_181 {
  width: 49px;
  height: 50px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v6_133 {
  width: 100%;
  height: 80px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v6_134 {
  width: 553px;
  height: 62px;
  background: url("../images/v6_134.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 123px;
  overflow: hidden;
}
.v6_135 {
  width: 553px;
  height: 62px;
  background: url("../images/v6_135.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_136 {
  width: 78px;
  height: 62px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_137 {
  width: 78px;
  height: 62px;
  background: url("../images/v6_137.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_138 {
  width: 471px;
  color: rgba(36,83,178,1);
  position: absolute;
  top: 16px;
  left: 82px;
  font-family: Open Sans;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
