<!DOCTYPE html>
<html>
    {% load static %}
<head>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
    <link href="staticfiles/css/main.css" rel="stylesheet" />
    <title>SITE</title>
</head>
<body>
    <div class="v1_2">
        <div class="v6_67"></div>
    <div class="v6_68"></div>
    <div class="v198_77"></div>
    <span class="v5_0">Social Impact Text Engine (SITE)</span>
    <span class="v5_1">Wecome to SITE! Using the tools below, you can test out our engine to pull and explore data from the web, or from PDFs you upload yourself!</span>
    <div class="v6_8">
        <div class="v6_0"></div>
        <span class="v6_1">Gather</span>
    </div>
    <div class="v6_7">
        <div class="v6_2"></div>
        <span class="v6_3">Explore</span>
    </div>
    <div class="v6_6">
        <div class="v6_4"></div>
        <span class="v6_5">Learn</span>
    </div>
    <div class="v6_18">
        <div class="v6_10"></div>
        <div class="v6_9"></div>
    </div>
    <div class="v6_19"></div>
    <div class="v6_70">
        <div class="v6_20"></div>
        <div class="v6_22"></div>
        <div class="v6_23"></div>
        <div class="v6_24"></div>
        <div class="v6_25"></div>
        <div class="v6_26"></div>
        <div class="v6_27"></div>
        <div class="v6_28"></div>
        <div class="v6_29"></div>
        <div class="v6_30"></div>
        <div class="v6_31"></div>
    </div>
    <div class="v6_32"></div>
    <span class="v6_36">Crawl the web for sites and documents related to your research topic</span>
    <span class="v6_37">Extract basic information from PDFs to focus and drive your research forward</span>
    <span class="v6_38">Ask us questions about your documents and use our answers to better understand your research</span>
    <div class="v6_39">
        <div class="v6_40"></div>
        <div class="v6_41"></div>
        <div class="v6_42">
            <span class="v6_43">Non-Profit Information</span>
            <span class="v6_44">More About Us</span>
            <span class="v6_45">Statement of Inclusivity</span>
            <span class="v6_46">Privacy Policy</span>
            <span class="v6_47">Blog</span>
        </div>
        <div class="v6_48">
            <span class="v6_49">Join Us</span>
            <span class="v6_50">Volunteer </span>
            <span class="v6_51">Partnerships</span>
        </div>
        <div class="v6_52">
            <span class="v6_53">Contact Us</span>
            <span class="v6_54">Ben@SIAinstitute.org</span>
            <div class="v6_55">
                <div class="v6_56">
                <div class="v6_57"></div>
            </div>
            <div class="v6_58">
                <div class="v6_59"></div>
            </div>
            <div class="v6_60">
                <div class="v6_61"></div>
            </div>
            <div class="v6_62">
                <div class="v6_63"></div>
            </div>
        </div>
    </div>
<div class="v6_64">
    <span class="v6_65">Follow Us</span>
    <div class="v6_66"></div>
</div></div><div class="v2_49"></div><div class="v2_44"><div class="v2_45"><div class="v2_46"><div class="v2_47"></div></div><span class="v2_48">Social Impact Analytics Institute</span></div></div><div class="name"></div><div class="name"></div><div class="name"></div><div class="name"></div></div></body></html>